<div class="container-fluid">
  <div class="row settings col-12">

    <!--  выбранная категория и переключение на показ статистики-->
    <div class="col-10 text-left align-self-top">

      <!--  sidebar меню      -->
      <button (click)="onToggleMenu()" mat-icon-button type="button">
        <mat-icon>menu</mat-icon>
      </button>

      <p class="navbar-brand">{{categoryName}}</p>
      <p (click)="onToggleStat()" *ngIf="showStat && !isMobile" class="link navbar-brand">Скрыть статистику</p>
      <p (click)="onToggleStat()" *ngIf="!showStat && !isMobile" class="link navbar-brand">Показать статистику </p>
    </div>

    <!--  помощь, настройки-->
    <div class="col-2 text-right align-self-top">
      <button class="header-icon" mat-icon-button>
        <button (click)="showSettings()" class="header-icon" mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
      </button>

      <button (click)="showIntroHelp()" *ngIf="!isMobile" class="header-icon" mat-icon-button>
        <mat-icon>help</mat-icon>
      </button>

    </div>
  </div>
</div>

