<div class="wrapper ">
  <app-categories

    (addCategory)="onAddCategory($event)"
    (deleteCategory)="onDeleteCategory($event)"
    (updateCategory)="onUpdateCategory($event)"
    (selectCategory)="onSelectCategory($event)"
    (searchCategory)="onSearchCategory($event)"

    [categories]="categories"
    [selectedCategory]="selectedCategory">

  </app-categories>

  <div class="main-panel">

    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">

      <!--    навигация с шапкой и списком категорий-->
      <app-header
        (toggleStat)="toggleStat($event)"
        [categoryName]="selectedCategory ? selectedCategory.title: 'Все'"
        [showStat]="showStat">
      </app-header>

    </nav>

    <div class="content">
      <div class="container-fluid">
        <!-- статистика -->
        <app-stat
          [completeTasksInCategory]="completedCountInCategory"
          [totalTasksInCategory]="totalTasksCountInCategory"
          [showStat]="showStat"
          [uncompleteTasksInCategory]="uncompletedCountInCategory">
        </app-stat>

        <div class="row">
          <div class="col-12">
            <app-tasks

              (updateTask)="onUpdateTask($event)"
              (deleteTask)="onDeleteTask($event)"
              (selectCategory)="onSelectCategory($event)"
              (addTask)="onAddTask($event)"

              (filterByPriority)="onFilterTasksByPriority($event)"
              (filterByStatus)="onFilterTasksByStatus($event)"
              (filterByTitle)="onSearchTasks($event)"

              [priorities]="priorities"
              [selectedCategory]="selectedCategory"
              [tasks]="tasks">

            </app-tasks>

          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
