<div class="wrapper ">
  <div class="sidebar" data-color="purple"
       data-intro="Фильтрация задач, добавление/удаление/редактирование категорий"
       data-position='right'
       data-step="1">
    <app-categories
      (addCategory)="onAddCategory($event)"
      (deleteCategory)="onDeleteCategory($event)"
      (searchCategory)="onSearchCategory($event)"
      (selectCategory)="onSelectCategory($event)"
      (updateCategory)="onUpdateCategory($event)"
      [categories]="categories"
      [categoryMap]="categoryMap"
      [selectedCategory]="selectedCategory"
      [uncompletedTotal]="uncompletedTotalTasksCount">
    </app-categories>
  </div>

  <div class="main-panel">

    <!-- header: навигация с шапкой и списком категорий-->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <app-header
        (toggleStat)="toggleStat($event)"
        [categoryName]="selectedCategory ? selectedCategory.title: 'Все'"
        [showStat]="showStat">
      </app-header>
    </nav>

    <!--  список задач со статистикой-->
    <div class="content">
      <div class="container-fluid">

        <!-- статистика -->
        <div data-intro="Список всех задач cо статистикой"
             data-position='top'
             data-step="2">
          <app-stat
            [completeTasksInCategory]="completedCountInCategory"
            [showStat]="showStat"
            [totalTasksInCategory]="totalTasksCountInCategory"
            [uncompleteTasksInCategory]="uncompletedCountInCategory">
          </app-stat>
        </div>

        <!-- список задач-->
        <div class="row">
          <div class="col-12">
            <app-tasks
              (updateTask)="onUpdateTask($event)"
              (deleteTask)="onDeleteTask($event)"
              (selectCategory)="onSelectCategory($event)"
              (addTask)="onAddTask($event)"

              (filterByPriority)="onFilterTasksByPriority($event)"
              (filterByStatus)="onFilterTasksByStatus($event)"
              (filterByTitle)="onSearchTasks($event)"

              [priorities]="priorities"
              [selectedCategory]="selectedCategory"
              [tasks]="tasks">
            </app-tasks>
          </div>
        </div>
      </div>
    </div>

    <!--  footer  -->
    <app-footer></app-footer>
  </div>
</div>
