<div *ngIf="spinner && spinner.visibility | async" class="spinner"></div>

<ng-sidebar-container> <!--контейнер для внедрения слайд-меню-->

  <!--  слайд-меню-->
  <ng-sidebar


    (onClosed)="onClosedMenu()"
    [animate]="true"
    [closeOnClickBackdrop]="true"
    [autoFocus]="false"
    [mode]="menuMode"
    [closeOnClickOutside]="false"
    [position]="menuPosition"
    [opened]="menuOpened"


    [showBackdrop]="showBackdrop"


  >


    <div class="sidebar"
         data-color="purple"
         data-step="1"
         data-intro="Фильтрация задач, добавление/удаление/редактирование категорий"
         data-position='right'
    >

      <!--    список категорий-->
      <app-categories

        (searchCategory)="searchCategory($event)"
        (addCategory)="addCategory($event)"
        (deleteCategory)="deleteCategory($event)"
        (updateCategory)="updateCategory($event)"
        (selectCategory)="selectCategory($event)"


        [selectedCategory]="selectedCategory"
        [categories]="categories"
        [uncompletedCountForCategoryAll]="uncompletedCountForCategoryAll"
        [categorySearchValues]="categorySearchValues"

      ></app-categories>

    </div>

  </ng-sidebar>


  <!--  основной контент-->
  <!--  ng-sidebar-content - над чем будет открываться слайд-меню-->
  <div ng-sidebar-content>
    <div class="main-panel wrapper">


      <!--    навигация с шапкой и списком категорий-->

      <nav class="navbar navbar-transparent navbar-absolute fixed-top navbar-expand">

        <!--     шапка с меню -->
        <app-header
          (toggleMenu)="toggleMenu()"
          (toggleStat)="toggleStat($event)"

          [categoryName]="selectedCategory ? selectedCategory.title: 'Все'"
          [showStat]="showStat"

        >

        </app-header>


      </nav>


      <div class="content">
        <div class="container-fluid">


          <!-- статистика -->
          <app-stat

            [dash]="dash"
            [showStat]="showStat"
          >

          </app-stat>


          <!--        список задач-->
          <app-tasks

            (addTask)="addTask($event)"
            (deleteTask)="deleteTask($event)"
            (paging)="paging($event)"
            (searchAction)="searchTasks($event)"
            (selectCategory)="selectCategory($event)"
            (toggleSearch)="toggleSearch($event)"
            (updateTask)="updateTask($event)"


            [categories]="categories"
            [priorities]="priorities"
            [selectedCategory]="selectedCategory"
            [showSearch]="showSearch"
            [taskSearchValues]="taskSearchValues"
            [tasks]="tasks"
            [totalTasksFounded]="totalTasksFounded"


          >


          </app-tasks>


        </div>
      </div>


      <!--    нижняя часть страницы (футер, подвал) -->
      <app-footer *ngIf="!isMobile"></app-footer>


    </div>


  </div>


</ng-sidebar-container>
