<div *ngIf="showStat" data-intro="Статистика выполнения задач в выбранной категории" data-position='bottom'
     data-step="3">
  <div class="row">


    <app-stat-card
      class='col-lg-3 col-md-6 col-sm-6'
      [completed]="true"
      iconName="done"
      [count1]="getCompletedCount()"
      [count2]="getTotal()"
      title="Завершенные задачи"
    >
    </app-stat-card>

    <app-stat-card
      class='col-lg-3 col-md-6 col-sm-6'
      [count1]="getUncompletedCount()"
      iconName="thumb_down_alt"
      [count2]="getTotal()"
      title="Незавершенные задачи"
    >
    </app-stat-card>


    <app-stat-card
      class='col-lg-3 col-md-6 col-sm-6 completed-card'
      [completed]="true"
      iconName="poll"
      [count1]="getCompletedPercent() | percent"
      title="% завершенных задач"

    >
    </app-stat-card>


    <app-stat-card
      class='col-lg-3 col-md-6 col-sm-6'
      [count1]="getUncompletedPercent() | percent"
      iconName="thumb_down_alt"
      title="% незавершенных задач">
    </app-stat-card>


  </div>
</div>
