<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
    Creative Tim
  </a></div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <!-- виртуальная категория 'Все'-->
      <li (click)="showTasksByCategory(null)"
          [class.active]="selectedCategory === null"
          class="nav-item category">
        <a class="nav-link pointer">
          <span class="all-category-title">Все</span>
        </a>
      </li>

      <!-- разделитель-->
      <div class="line"></div>

      <!-- все конкретные категории-->
      <li (click)="showTasksByCategory(category)"
          (mouseenter)="showEditIcon(index)"
          (mouseleave)="showEditIcon(null)"
          *ngFor="let category of categories; let index = index"
          [class.active]="category===selectedCategory"
          class="nav-item pointer">
        <a class="nav-link">
          <!--          название категории-->
          <span class="category-title">{{category.title}}</span>
          <!--         кнопка редактирования категории-->
          <span class="edit-category-icon-area">
            <mat-icon
              (click)="$event.stopPropagation(); openEditDialog(category)"
              *ngIf="indexMouseMove === index"
              class="edit-category-icon">edit</mat-icon>
          </span>
        </a>

      </li>
    </ul>
  </div>
</div>
